.grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4,1fr);
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media(max-width:1200px){
  .grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:800px) {
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:500px) {
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
