body{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  justify-content: center;
  align-content: center;
}

#box{
  display: grid;
  width: 100%;
  background-color: rgba(184, 135, 11, 0.421);
  grid-template-columns: repeat(4, 1fr);
}

.game{
  display: grid;
}

.display{
  gap: 10rem;
  margin-top: 2rem;
}

.b{
  /* margin: 0; */
  padding: 3rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid black;
}
